@model Epidaurus.ViewModels.MovieViewModel
@using Epidaurus.Helpers;
@using Epidaurus.Security

@{
    var whoHasSeen = ViewBag.WhoHasSeenMovie as Dictionary<int,List<string>>;
    var movie = Model.Movie;
}

    <div class="movieContainer" id="mc_@(movie.Id)">
        @if (movie.ImageUrl != null)
        { 
            <div style="float: right">
                <div class="posterFullSize">
                    <img src="@Url.Action("Poster", new { id = @movie.ImdbId })" alt="Poster"/>
                </div>
                <img class="posterImage" src="@Url.Action("Poster", new { id = @movie.ImdbId })" width="200" alt="Poster" /> 
            </div>
        }
        
        <table>
            <tr>
                <td class="movieEntryFirstColumn">
                    @if (SecurityService.LoggedInUser != null && SecurityService.LoggedInUser.IsInRole("Admin"))
                    {
                        <text>
                        <a href="javascript:void(0);" onclick="UpdateMovie(@movie.Id, 'mc_@(movie.Id)')">u</a>
                        <a href="http://www.themoviedb.org/movie/@movie.TmdbId">T</a>
                        <a href="javascript:void(0);" onclick="UpdateTmdbId(@movie.Id, 'mc_@(movie.Id)')">e</a>
                        @if (Model.HasSample)
                        { 
                            <a href="@Url.Action("DownloadSample", new { id = movie.Id })">P</a>
                        }
                        </text>
                    }
                </td> 
                <td class="movieTitleContainer">
                    <span class="movieTitle">
                        @if (!string.IsNullOrEmpty(movie.Homepage))
                        {
                             <a href="@movie.Homepage" title="@movie.Homepage">@movie.Title</a>
                        }
                        else
                        {
                            @movie.Title
                        }
                    </span>

                    @if (@Model.YoutubeTrailerId != null)
                    {
                       <a href="javascript:void(0);" class="trailerLink" onclick="ViewYoutubeTrailer('@Model.YoutubeTrailerId')">(trailer)</a>
                    }
                </td>
            </tr>
            <tr><td>År</td><td>@movie.Year</td></tr>
            <tr><td>Lengde</td><td>@if (movie.Runtime.HasValue)
                                   { @MH.RuntimeHelper(movie.Runtime.Value);
                                   }</td></tr>
            <tr><td>IMDB Score</td><td>@MH.ScoreHelper(movie.Score)</td></tr>
            <tr><td>Imdb</td>
                <td>
                    <a href="http://www.imdb.com/title/@movie.ImdbId">@movie.ImdbId</a>
                    <span class="changeImdbDiv" onclick="ShowImdbIdEditBox(this, @movie.Id, 'mc_@(movie.Id)')">(Endre)</span>
                </td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>
                    <ul class="horiziontalList">
                        @foreach (var genre in @movie.Genres)
                        { 
                            <li><a href="javascript:null();" onclick="SetFilter('Genre',@genre.Id);">@genre.Name</a></li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Regissører</td>
                <td>
                    <ul class="horiziontalList">
                    @foreach (var director in @Model.Directors)
                    { 
                        <li><a href="javascript:null();" onclick="SetFilter('Person',@director.Person.Id);">@director.Person.Name</a></li>
                    }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Forfattere</td>
                <td>
                    <ul class="horiziontalList">
                    @foreach (var writer in @Model.Writers)
                    { 
                        <li><a href="javascript:null();" onclick="SetFilter('Person',@writer.Person.Id);">@writer.Person.Name</a></li>
                    }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Skuespillere</td>
                <td>
                    <ul class="horiziontalList">
                        @foreach (var actor in @Model.Actors.Take(10))
                        { 
                            <li><a href="javascript:null();" onclick="SetFilter('Person',@actor.Person.Id);"
                            @if (@actor.RoleName != null)
                            { <text>title='As @actor.RoleName'</text> }
                            >@actor.Person.Name</a></li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Lokal lokasjon</td>
                <td>
                    @foreach (var movieSource in @movie.MovieAtStorages)
                    {
                        <span>@movieSource.CleanedName <span class="movieSourceClicky clickable" data-moviesourceid="@movieSource.Id">@@</span> @movieSource.StorageLocation.Name, </span>
                    }
                </td>
            </tr>
            <tr><td>Plot</td><td>@movie.Plot</td></tr>
            <tr><td>Lagt til</td><td>@movie.AddedAt.ToShortDateString()</td></tr>

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            { 
                <tr>
                    <td>Sett?</td>
                    <td>
                        @if (@ViewBag.MoviesIHaveSeen != null)
                        {
                            if (@ViewBag.MoviesIHaveSeen.Contains(movie.Id))
                            { 
                                <span class="clickable" onclick="ChangeSeenStatus(this, @movie.Id, false)">Ja. <img src="@Url.Content("~/Content/images/unsee.png")" alt="Klikk for å un-see!" title="Klikk for å un-see!"/></span>
                            }
                            else
                            { 
                                <span class="clickable" onclick="ChangeSeenStatus(this, @movie.Id, true)">Nei. <img src="@Url.Content("~/Content/images/see.png")" alt="Klikk for å indikere sett." title="Klikk for å indikere sett."/></span>
                            }
                        }
                        else
                        { 
                            <span>?</span>
                        }
                        <span style="margin-left: 2em;">
                            Vil se: <a href="javascript:void(0);" class="addToToWatch" data-imdbId="@movie.ImdbId"><span class="ui-icon ui-icon-inline ui-icon-plus"></span></a>
                        </span>
                    </td>
                </tr>
            }
            @if (whoHasSeen != null && whoHasSeen.ContainsKey(movie.Id))
            { 
                <tr>
                    <td>Sett av:</td>
                    <td>@string.Join(", ", whoHasSeen[movie.Id])</td>
               </tr>
            }
        </table>
        <div style="clear: both; height: 1px;" >&nbsp;</div>
    </div>
